body {
  margin: 0;
  background-color: #111;
  overflow: hidden;
  font-family: sans-serif;
}

#gameCanvas {
  display: none;
  margin: auto;
  background-color: #000;
  touch-action: manipulation;
}

#startScreen {
  color: white;
  font-size: 2em;
  text-align: center;
  margin-top: 40vh;
  user-select: none;
}
